.DS_Store
node_modules
/dist
/public/data
!/public/data/part1/__nav.json
!/public/data/part1/_foreword.json
!/public/data/part1/_prologue.json
!/public/data/part1/chapter-001.json
!/public/data/part1/chapter-002.json
!/public/data/part1/chapter-003.json
!/public/data/part1/chapter-004.json
!/public/data/updates/__nav.json
!/public/data/updates/2020-08-22.json
!/public/data/landing.json
!/public/data/topnav.json
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
